@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background: rgba(0, 0, 0, 0.86);
    color: white;

}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

::selection {
    background: white;
    color: black;
}

button:hover {
    cursor: pointer;
}
