div.dropdown-wrapper {
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

div.dropdown-wrapper > select, div.dropdown-wrapper > button {
    border-radius: 10px;
    background: white;
}
